@media screen and (max-width: 450px) {
  .col-xxs-12 {
    width: 100%; }

  .col-xxs-6 {
    width: 50%; }

  .col-xxs-4 {
    width: 33.33%; }

  .col-xxs-3 {
    width: 25%; }

  .col-xxs-3 {
    width: 16.67%; } }
body {
  margin: 0;
  font-size: 16px; }

body.hidden-overflow {
  overflow: hidden; }

* {
  outline: none;
  margin: 0;
  padding: 0; }

.fs-0 {
  font-size: 0; }

.fs-1 {
  font-size: 1px !important;
  line-height: 5px !important; }

.fs-2 {
  font-size: 2px !important;
  line-height: 6px !important; }

.fs-3 {
  font-size: 3px !important;
  line-height: 7px !important; }

.fs-4 {
  font-size: 4px !important;
  line-height: 8px !important; }

.fs-5 {
  font-size: 5px !important;
  line-height: 9px !important; }

.fs-6 {
  font-size: 6px !important;
  line-height: 10px !important; }

.fs-7 {
  font-size: 7px !important;
  line-height: 11px !important; }

.fs-8 {
  font-size: 8px !important;
  line-height: 12px !important; }

.fs-9 {
  font-size: 9px !important;
  line-height: 13px !important; }

.fs-10 {
  font-size: 10px !important;
  line-height: 14px !important; }

.fs-11 {
  font-size: 11px !important;
  line-height: 15px !important; }

.fs-12 {
  font-size: 12px !important;
  line-height: 16px !important; }

.fs-13 {
  font-size: 13px !important;
  line-height: 17px !important; }

.fs-14 {
  font-size: 14px !important;
  line-height: 18px !important; }

.fs-15 {
  font-size: 15px !important;
  line-height: 19px !important; }

.fs-16 {
  font-size: 16px !important;
  line-height: 20px !important; }

.fs-17 {
  font-size: 17px !important;
  line-height: 21px !important; }

.fs-18 {
  font-size: 18px !important;
  line-height: 22px !important; }

.fs-19 {
  font-size: 19px !important;
  line-height: 23px !important; }

.fs-20 {
  font-size: 20px !important;
  line-height: 24px !important; }

.fs-21 {
  font-size: 21px !important;
  line-height: 25px !important; }

.fs-22 {
  font-size: 22px !important;
  line-height: 26px !important; }

.fs-23 {
  font-size: 23px !important;
  line-height: 27px !important; }

.fs-24 {
  font-size: 24px !important;
  line-height: 28px !important; }

.fs-25 {
  font-size: 25px !important;
  line-height: 29px !important; }

.fs-26 {
  font-size: 26px !important;
  line-height: 30px !important; }

.fs-27 {
  font-size: 27px !important;
  line-height: 31px !important; }

.fs-28 {
  font-size: 28px !important;
  line-height: 32px !important; }

.fs-29 {
  font-size: 29px !important;
  line-height: 33px !important; }

.fs-30 {
  font-size: 30px !important;
  line-height: 34px !important; }

.fs-31 {
  font-size: 31px !important;
  line-height: 35px !important; }

.fs-32 {
  font-size: 32px !important;
  line-height: 36px !important; }

.fs-33 {
  font-size: 33px !important;
  line-height: 37px !important; }

.fs-34 {
  font-size: 34px !important;
  line-height: 38px !important; }

.fs-35 {
  font-size: 35px !important;
  line-height: 39px !important; }

.fs-36 {
  font-size: 36px !important;
  line-height: 40px !important; }

.fs-37 {
  font-size: 37px !important;
  line-height: 41px !important; }

.fs-38 {
  font-size: 38px !important;
  line-height: 42px !important; }

.fs-39 {
  font-size: 39px !important;
  line-height: 43px !important; }

.fs-40 {
  font-size: 40px !important;
  line-height: 44px !important; }

.fs-41 {
  font-size: 41px !important;
  line-height: 45px !important; }

.fs-42 {
  font-size: 42px !important;
  line-height: 46px !important; }

.fs-43 {
  font-size: 43px !important;
  line-height: 47px !important; }

.fs-44 {
  font-size: 44px !important;
  line-height: 48px !important; }

.fs-45 {
  font-size: 45px !important;
  line-height: 49px !important; }

.fs-46 {
  font-size: 46px !important;
  line-height: 50px !important; }

.fs-47 {
  font-size: 47px !important;
  line-height: 51px !important; }

.fs-48 {
  font-size: 48px !important;
  line-height: 52px !important; }

.fs-49 {
  font-size: 49px !important;
  line-height: 53px !important; }

.fs-50 {
  font-size: 50px !important;
  line-height: 54px !important; }

.fs-51 {
  font-size: 51px !important;
  line-height: 55px !important; }

.fs-52 {
  font-size: 52px !important;
  line-height: 56px !important; }

.fs-53 {
  font-size: 53px !important;
  line-height: 57px !important; }

.fs-54 {
  font-size: 54px !important;
  line-height: 58px !important; }

.fs-55 {
  font-size: 55px !important;
  line-height: 59px !important; }

.fs-56 {
  font-size: 56px !important;
  line-height: 60px !important; }

.fs-57 {
  font-size: 57px !important;
  line-height: 61px !important; }

.fs-58 {
  font-size: 58px !important;
  line-height: 62px !important; }

.fs-59 {
  font-size: 59px !important;
  line-height: 63px !important; }

.fs-60 {
  font-size: 60px !important;
  line-height: 64px !important; }

.fs-61 {
  font-size: 61px !important;
  line-height: 65px !important; }

.fs-62 {
  font-size: 62px !important;
  line-height: 66px !important; }

.fs-63 {
  font-size: 63px !important;
  line-height: 67px !important; }

.fs-64 {
  font-size: 64px !important;
  line-height: 68px !important; }

.fs-65 {
  font-size: 65px !important;
  line-height: 69px !important; }

.fs-66 {
  font-size: 66px !important;
  line-height: 70px !important; }

.fs-67 {
  font-size: 67px !important;
  line-height: 71px !important; }

.fs-68 {
  font-size: 68px !important;
  line-height: 72px !important; }

.fs-69 {
  font-size: 69px !important;
  line-height: 73px !important; }

.fs-70 {
  font-size: 70px !important;
  line-height: 74px !important; }

.fs-71 {
  font-size: 71px !important;
  line-height: 75px !important; }

.fs-72 {
  font-size: 72px !important;
  line-height: 76px !important; }

.fs-73 {
  font-size: 73px !important;
  line-height: 77px !important; }

.fs-74 {
  font-size: 74px !important;
  line-height: 78px !important; }

.fs-75 {
  font-size: 75px !important;
  line-height: 79px !important; }

.fs-76 {
  font-size: 76px !important;
  line-height: 80px !important; }

.fs-77 {
  font-size: 77px !important;
  line-height: 81px !important; }

.fs-78 {
  font-size: 78px !important;
  line-height: 82px !important; }

.fs-79 {
  font-size: 79px !important;
  line-height: 83px !important; }

.fs-80 {
  font-size: 80px !important;
  line-height: 84px !important; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

img {
  max-width: 100%;
  height: auto; }

.inline-block {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.inline-block-top {
  display: inline-block;
  vertical-align: top;
  float: none; }

.no-gutter {
  padding-left: 0;
  padding-right: 0; }

@media screen and (max-width: 767px) {
  .no-gutter-xs {
    padding-left: 0 !important;
    padding-right: 0 !important; } }

@media screen and (max-width: 767px) {
  .text-center-xs {
    text-align: center !important; } }

.display-none {
  display: none; }

a:hover, a:active, a:visited, a:focus {
  text-decoration: none; }

ul, li {
  padding: 0;
  margin: 0; }

.single-form {
  padding-top: 50px;
  padding-bottom: 50px; }
  .single-form h2 {
    text-align: center; }
  .single-form form .single-row {
    padding-top: 5px;
    padding-bottom: 5px; }
    .single-form form .single-row label {
      display: block; }
    .single-form form .single-row input[type='text'], .single-form form .single-row input[type='number'] {
      border: 1px solid #BEBEBE;
      width: 100%;
      padding: 7px;
      outline: none;
      font-size: 14px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s; }
      .single-form form .single-row input[type='text']:focus, .single-form form .single-row input[type='number']:focus {
        -webkit-box-shadow: 0 0 8px #88D5E9;
        -moz-box-shadow: 0 0 8px #88D5E9;
        -ms-box-shadow: 0 0 8px #88D5E9;
        box-shadow: 0 0 8px #88D5E9;
        border: 1px solid #88D5E9; }
    .single-form form .single-row input[type='submit'] {
      padding: 5px 30px;
      color: white;
      background-color: #88D5E9;
      border: 1px solid transparent;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
      .single-form form .single-row input[type='submit']:hover {
        background-color: white;
        color: #88D5E9;
        border: 1px solid #88D5E9; }

/*# sourceMappingURL=styles.css.map */
