body{
    margin: 0;
    font-size: 16px;
}

body.hidden-overflow {
    overflow: hidden;
}

* {
    outline: none;
    margin: 0;
    padding: 0;
}

.fs-0{
    font-size: 0;
}

@for $i from 1 through 80 {
    .fs-#{$i} {
        font-size: 0px + $i!important;
        line-height: 4px + $i!important;
    }
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.inline-block-top {
    display: inline-block;
    vertical-align: top;
    float: none;
}

.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.no-gutter-xs {
    @include breakpoint($xs)    {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

.text-center-xs {
    @include breakpoint($xs)    {
        text-align: center !important;
    }
}

.display-none {
    display: none;
}

a {
    &:hover, &:active, &:visited, &:focus {
        text-decoration:none;
    }
}

ul, li {
    padding: 0;
    margin: 0;
}
